*
!Dockerfile
!vendor/
!vendor/frigate/
!vendor/frigate/frigate/
!vendor/frigate/frigate/**
!vendor/frigate/web/
!vendor/frigate/web/**
!vendor/frigate/docker/
!vendor/frigate/docker/main/
!vendor/frigate/docker/main/rootfs/
!vendor/frigate/docker/main/rootfs/**
vendor/frigate/**/__pycache__
vendor/frigate/web/node_modules
vendor/frigate/web/dist
vendor/frigate/web/package-lock.json
vendor/frigate/web/.env
vendor/frigate/web/.env.*
